<p>Bienvenue sur le site communautaire de Snowtricks,</p>
    
<p>Pour activer votre compte, veuillez cliquer sur le lien ci-dessous
ou copier/coller dans votre navigateur Internet. </p>

<p>{{ host }}/accountvalidation/{{ user.accountKey }}</p>

<p>-------------------------------</p>
<p>Ceci est un mail automatique, merci de ne pas y répondre.</p>
