/* ------------------ Form -------------------- */


.login-form {
    display:flex;
    flex-direction: column;
    text-align: center;
}

.collection-form {
    display: flex;
    margin: 20px 0;
    width: 60%;
}

#trick_pictures .collection-form .mb-3, .video-input {
    flex: 3;
    margin: 0 10px 0 0;
}

#trick_pictures, #trick_videos {
    margin: 50px 0 30px 0;
}

.hidden-block .mb-3 {
    visibility: hidden;
    height: 0;
    width: 0;
}


/* ------------------ Général / Home -------------------- */

body {
    background-color :rgb(247, 224, 238);
}

#navbarColor02 > ul > div.header-p1 > div > p {
    color: rgb(158, 156, 156);
    font-family: 'Parisienne';
    padding: 8px;
    margin-bottom: 0;
}

.header-p2 li:nth-child(1), .header-p2 li:nth-child(2) {
    border-right: solid 1px rgb(158, 156, 156);
}

.footer-resp {
    display: none;
}

.banner-logo {
    max-width: 20px;
    max-height:20px;
}

.author-logo {
    max-width: 40px;
    max-height: 40px;
    border: solid 3px grey;
}

.copyright {
    text-align: center;
    font-family: 'Parisienne';
    font-weight: bold;
    padding: 15px 0 3px 0;
    background-color: dark;
    color: rgba(255,255,255,.55);
    border-top: 1px solid rgba(255,255,255,.55);

}

.home-bg {
        margin: 80px auto;
        text-align: center;
}

body a, body button, h1 {
    font-family: 'Parisienne';
}

h1 {
    font-weight: bold;
    margin-bottom: 40px;
}

.navbar-nav {
    width: 100%;
    justify-content: space-around;
}

.header-p1, .header-p2{
    display: flex;
    width: 50%;
}

.header-p1 li {
margin: auto 50px;
}

.header-p2 {
    justify-content: flex-end;
    margin-right: 100px;
}

.btn.btn-primary {
    padding: 5px 50px;
}

.creation-link {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

/* ------------------ Snowtrick New / Show -------------------- */

body > div.container.snowtrick-new, .container.snowtrick-show, .form-button {
    display: flex;
    flex-direction: column;
}

.snowtrick-new a, .snowtrick-show a, .form-button button {
    margin: 60px auto;
    font-size: 20px;
    padding: 5px 50px;
}

.creation-link a {
    font-size: 20px;
    padding: 5px 50px;
}

.snowtrick-info {
    display: flex;
}

.snowtrick-pic {
    height:150px;
    border-bottom: solid 2px black;
}

.snowtrick-card{
    border: solid 2px black;
    border-radius: 2px;
    margin: 20px;
    padding: 0;
}

.snowtrick-info {
    padding: 10px;
    justify-content: space-around;
    background-color: white;
}

.snowtrick-info a {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

.snowtrick-info i {
    padding: 3px 6px 0.3px 6px;
    margin: auto 2px;
}

.snowtrick-info .btn-danger {
    padding: 3px 6px 3px 6px;
}

.row.row-cols-5 {
    justify-content: space-around;
}

#picture-carousel img {
    object-fit: cover;
    height: 150px;
    width: 180px;
}

#picture-carousel, #video-carousel {
    width: 50%;
}

#picture-carousel {
    margin-right: 10px;
}

.media-carousel {
    display: flex;
    justify-content: space-around;
    margin: 80px 10px 80px 10px;
}

.hidden-block img, .hidden-block {
    width: 50px;
    height: 50px;
}

.hidden-block {
    margin: 50px 140px 10px 0;
    display: flex;
}

.hidden-block .collection-form {
    margin: 5px 0 0 0;
}

#trick_pictures > div.container-fluid {
    margin: 0 auto 50px auto;
}

.owl-carousel.owl-drag .owl-item {
    text-align: center;
}

/* ------------------ Account settings page -------------------- */

/* ------------------ Pagination -------------------- */

.pagination_bloc {
    justify-content: center;
    margin: auto;
    max-width: 60%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.other_pagination, .actual_pagination {
    margin: 0 10px 50px 10px;
    background-color: #6c4ccc;
    border: solid 2px #ced4da;
    padding: 5px 0 0 0;
    justify-content: center;
    text-align: center;
}

.actual_pagination {
    color: white;
}

.other_pagination a {
    color: #e07dc3;
    text-decoration: none;
    padding: 0;
}

/* ------------------ Chat -------------------- */

.comment-bloc {
    width: 70%;
    border : solid 2px #ced4da;
    border-radius: 2px;
    margin: auto;
    border-bottom: none;
}

.comments_author h4, .comments_content h4 {
    font-size: 16px;
}

#no_comment {
    border-bottom : solid 2px #ced4da;
    border-radius: 2px;
}

#no_comment p {
    padding-left: 20px;
    font-style: italic;
}

.comments_author h4 {
    font-weight: lighter;
}

.comment_head {
    display: flex;
    background-color: #8cc293;
    border-bottom : solid 2px #ced4da;
    border-radius: 2px;
    margin-bottom: 10px;
    font-family: 'Parisienne';
    font-weight: bold;
}

.comment_head h4 {
    padding: 10px 0 5px 20px;
}

.comment_bar {
    margin: 20px auto 20px 0;
    color: #8cc293;
}

hr:not([size]) {
    height: 2px;
}

.comments_list h4 {
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}

#comment_connect {
    margin: 100px auto 50px auto;
}

.comments_author {
    display: flex;
}

.comment-input {
    width: 70%;
    margin:  20px auto 0 auto;
}
