{% extends 'base.html.twig' %}

{% block title %}Mot de passe perdu{% endblock %}

{% block body %}

    <div class="password-modify">
        <h1>Mot de passe perdu</h1>
        {{ include('login/_lostpassword_form.html.twig') }}
    </div>

{% endblock %}
