<p>Ce mail vous est envoyé pour redéfinir le mot de passe de votre compte,</p>
    
<p>Pour changer votre mot de passe, veuillez cliquer sur le lien ci-dessous
ou copier/coller dans votre navigateur Internet. </p>

<p>{{ host }}/reset-password/{{ user.accountKey }}</p>

<p>Si vous n'êtes pas à l'origine de cette demande de changement de mot de passe, 
veuillez ne pas tenir compte du mail. </p>

<p>-------------------------------</p>
<p>Ceci est un mail automatique, merci de ne pas y répondre.</p>
