<div class="collection-form">
    {% set file = form.file.vars.data %}
    {{ form_row(form.file, {'attr': {'class': 'pic-input'}}) }}

    <div class="form-group">
        <button type="button" class="btn btn-danger btn-remove"><i class="bi bi-x-lg"></i></button>
    </div>
</div>