{% extends 'base.html.twig' %}

{% block title %}Paramétrage du compte{% endblock %}

{% block body %}

    <div class="container home-bg">
        <h1>Paramétrage du compte</h1>
    </div>

{% endblock %}