{% block footerbar %}
    <nav class="navbar navbar-expand navbar-dark bg-dark footer-resp">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{{ path('app_snowtrick_index') }}"><i class="bi bi-house pe-2"></i></a></li>
            {% if app.user %}
                <li class="nav-item"><a class="nav-link" href="{{ path('app_snowtrick_new') }}"><i class="bi bi-vector-pen"></i></a></li>
            {% endif %}
            {% if app.user %}
                <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}"><i class="bi bi-box-arrow-left pe-2"></i></a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}"><i class="bi bi-box-arrow-in-right pe-2"></i></a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="copyright navbar-dark bg-dark">
        <p class="nav-item">
            Copyright 2023 - Site réalisé par <em>Erwan Carlini</em> - Développeur d'application PhP / Symfony<br>
        </p>
    </div>
{% endblock %}
