{% extends 'base.html.twig' %}

{% block title %}Erreur - Problème survenu{% endblock %}

{% block body %}
   <div id="not_found_page" class="text-center text-secondary">
        <h1 class="display-1 text-danger font-title font-weight-bold">Page en erreur.</h1>

        <div>
            Une erreur s'est produite lors du chargement de la page.
        </div>
        <div class="back_home">
            Vous pouvez revenir à <a href="{{ path('app_snowtrick_index') }}">l'accueil</a>.
        </div>
    </div>
{% endblock %}